* {
    cursor:default;
}
.deck-container {
  font-family:Arial, sans-serif;
  font-size: 1.75em;
  background: #fff;
  color:black;
  /*background-repeat:repeat-x;
  background-image:url(bg.png);
  background-position:0 -50px;*/
}
ul {
    font-size:1.2em !important;
}
p {
    font-size:1.2em !important;
}
.deck-container .slide {
}
.deck-container .slide h1 {
  color: #000;
  font-family:Georgia, serif;
  font-weight:normal;
}
.deck-container .slide h2 {
  color: #000;
  font-family:Georgia, serif;
  font-weight:normal;
  border-bottom:0px solid black;
  margin-bottom:0.333em;
}
.deck-container .slide h3 {
  color: #000;
  font-weight:normal;
}
.deck-container .slide pre {
  border-color: #ccc;
}
.deck-container .slide code {
  color: #333;
}
.deck-container .slide blockquote {
  font-size: 2em;
  font-style: italic;
  padding: 1em 2em;
  color: #000;
  border-left: 5px solid #ccc;
}
.deck-container .slide blockquote p {
  margin: 0;
}
.deck-container .slide blockquote cite {
  font-size: .5em;
  font-style: normal;
  font-weight: bold;
  color: #888;
}
.deck-container .slide ::-moz-selection {
  background: #c00;
  color: #fff;
}
.deck-container .slide ::selection {
  background: #c00;
  color: #fff;
}
.deck-container .slide a, .deck-container .slide a:hover, .deck-container .slide a:focus, .deck-container .slide a:active, .deck-container .slide a:visited {
  color: #c00;
  text-decoration: none;
}
.deck-container .slide a:hover, .deck-container .slide a:focus {
  text-decoration: underline;
}
.deck-container > .slide .deck-before, .deck-container > .slide .deck-previous {
  /*opacity: 0.8;*/
  opacity:1;
}
.deck-container > .slide .deck-before:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-before:not(.deck-child-current) .deck-previous, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-previous {
  opacity: 1;
}
.deck-container > .slide .deck-child-current {
  opacity: 1;
}
.deck-container .deck-prev-link, .deck-container .deck-next-link {
  background: #ccc;
  font-family: serif;
}
.deck-container .deck-prev-link, .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
  color: #fff;
}
.deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus {
  background: #c00;
  text-decoration: none;
}
.deck-container .deck-status {
  font-size: 0.6666em;
}
.deck-container.deck-menu .slide {
  background: #eee;
}
.deck-container.deck-menu .deck-current, .no-touch .deck-container.deck-menu .slide:hover {
  background: #ddf;
}
pre { font-family: Monaco, Consolas, monospace; color: #fff; background-color: #000; }
.Constant { color: #f04385; }
.Statement { color: #af5f00; }
.PreProc { color: #9574c7; }
.Comment { color: #76e0f3; }
.Type { color: #9dc732; }
.Special { color: #c000c0; }
.Title { color: #f04385; }
.Identifier { color: #76e0f3; }
